<h1>Hmmm...What Shall It Be?</h1>

<h3>Your Horoscope: <%= @compatibility.user.horoscope.name %>
<h3>Their Horoscope: <%= @compatibility.horoscope.name %></h3>

<h4><%= link_to "Back To Profile",user_path(@compatibility.user) %></h4>
